<!DOCTYPE html>
<html lang="pt-bt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Loops in Vuejs</title>
</head>

<body>


    <div id="loops">
        <div v-for="car in carros">
            {{ car }}
        </div>
        <hr>
        <div v-for="(nome, index) in nomes">
            <p> {{index}} - {{nome}}</p>
        </div>
        <hr>
        <ul>
            <li v-for="user in users">
                <b>Username: </b>{{ user.nome }} / <b>Password: </b>{{ user.password }}
            </li>
        </ul>
        <hr>
        <ul>
            <!-- Usa-se quando e um objeto JS -->
            <li v-for="(value, key) in registro">
                {{key}} - {{value}}
            </li>
        </ul>
    </div>


    <script>
        new Vue({
            el: "#loops",
            data: {
                carros: ["Saab", "Volvo", "BMW"],
                nomes: ["Gabriel Roque", "Sandra Roque", "Lucas Roque"],

                // Objeto JS
                registro: {
                    nome: 'Lambda',
                    sobrenome: 'Nerd',
                    canal: 'Youtube'
                },
                // Array de objetos
                users: [
                    { nome: 'gabriel.roque', password: 'mamaocomleite' },
                    { nome: 'darth.vader', password: 'estreladamorte' },
                ]
            }
        })
    </script>


</body>

</html>